@model IEnumerable<AdVenture.Models.Bids>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://www.paypalobjects.com/js/external/dg.js" type="text/javascript"></script>
<h2>Make Payment</h2>

<!--Show Bid Details Here
    
    Then show long legal letter and have I accept checkbox,

    then paypal button
    
    Need to have a way to know when the transaction is complete to set Bids status to "Complete",
    can use this to query and put on My Investments page
     -->
@Html.ActionLink("Pay with Paypal Account", "Payment", "PP")
@*<a href="/youraction" data-paypal-button="true">
        <img src="//www.paypalobjects.com/en_US/i/btn/btn_paynow_LG.gif" alt="Pay Now" />
    </a>*@


<form action="https://www.sandbox.paypal.com/webapps/adaptivepayment/flow/pay" target="PPDGFrame" class="standard">
    <label for="buy">Buy Now:</label>
    <input type="image" id="submitBtn" value="Pay with PayPal" src="https://www.paypalobjects.com/en_US/i/btn/btn_paynowCC_LG.gif">
    <input id="type" type="hidden" name="expType" value="light">
    <input id="paykey" type="hidden" name="paykey" value=@ViewData["paykey"]>
</form>

<script type="text/javascript" charset="utf-8">
var embeddedPPFlow = new PAYPAL.apps.DGFlow({ trigger: 'submitBtn' });
</script>


