@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>VENTURE</h1>
    <p class="lead">VENTURE is a web platform for discovering creative ideas and backin them with venture capital. Compete for stakes in the best ideas and benefit when they succeed. Don't miss out on the next Oculus. </p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>About Us</h2>
        <p>
            VENTURE gives venture captalists and creative startups the power of crowd-sourced equity auctions to raise capital.
            Transactions are quick and easy with PayPal verification.   
        </p>
        
    </div>
    <div class="col-md-4">
        <h2>Contact</h2>
        <p></p>
        <p>@*<a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a>*@</p>
    </div>
    <div class="col-md-4">
        <h2>Additional Information</h2>
        <p>Interested in working at VENTURE? Have a question for us? Learn more</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>