@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Make A Payment</h2>

@Html.ActionLink("Pay with Paypal Account", "Payment", "PP")
@*<a href="/youraction" data-paypal-button="true">
    <img src="//www.paypalobjects.com/en_US/i/btn/btn_paynow_LG.gif" alt="Pay Now" />
</a>*@